/* Estilos globales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgba(53, 59, 64, 0.554);
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header*/
header {
  background-color: rgb(17, 98, 184);
  padding: 20px;
  text-align: center;
}

h1 {
  color: rgb(232, 226, 226);
}

/* navegacion */
.sub-header {
  background-color: forestgreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-right: 20px;
}

.nav-links a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.carritoicono {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* contenido central*/
main {
  flex: 1;
  padding: 20px;
}

#project-description {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto 40px;
  font-family: Arial, sans-serif;
}
#project-description h2 {
  color: #222;
}
#project-description p {
  line-height: 1.6;
  margin-top: 10px;
}

/* footer  */
.footer {
  padding: 20px;
  background-color: rgb(13, 17, 16);
  color: white;
  text-align: center;
  width: 100%;
}

/* lista de productos*/
#product-list {
  display: flex;              
  gap: 20px;                
  padding: 20px;
  overflow-x: auto;          
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;       
}

.product {
  flex: 0 0 auto;            
  width: 220px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}


.product button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product button:hover {
  background-color: #45a049;
}

.product p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}




/* pagina de carrito de compras */
#cart-items {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f5f5f5;
}

.cart-item img {
  border-radius: 8px;
  width: 100px;
  height: auto;
}

.cart-item p {
  flex: 1;
}

.cart-item button {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

#total {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

#total button {
  margin-top: 15px;
  background: #555;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

