* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html body {
    background-color: darksalmon;
    padding: 0;
    height: 100%;
    width: 100%;
}



.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 29, 29);
    padding: 20px;
    width: 100%;
}


h1 {
    color: rgb(232, 226, 226);

}



.sub-header {
    background-color: forestgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-right: 20px;
  }
  
  .nav-links a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .carritoicono {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  /*Pagina de compras*/

  .carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    padding: 1rem;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/*////////////////////////////////*/



  
main {
    flex: 1; 
    padding: 20px; }


.footer {
    padding: 20px;
    background-color: rgb(13, 17, 16);
    bottom: 0;
    width:100%;
}  


